/**
    * Author:wyl
    * Create Time:2018-02-08 13:48
    * Description:
*/


/*banner*/
.banner{
    width: 100%;
    position: relative;
}
.banner img{
    display: block;
    width: 100%;
}
.banner a{
    display: block;
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    top:0.6rem;
}
.return{
    left: 0.3rem;
}
.banner a:last-child{
    right: 0.3rem;
}
.pay-icon {
    display: inline-block;
    padding-left: 0.34rem;
    font-size: 0.20rem;
    color: #9e9e9e;
    background: url(../img/pay-icon@2x.png) no-repeat left center;
    background-size: 0.28rem 0.28rem;
}
.goods-profile{
    padding: 0.3rem;
    background: #fff;
}
.goods-title{
    font-size: 0.3rem;
    color:#23252F;
    line-height: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.height-light{
    margin:0.2rem 0;
    font-size: 0.4rem;
    line-height: 0.4rem;
    color: #FF3B5E ;
}
.goods-service{
    color:#9096A6;
    font-size: 0.24rem;
    line-height: 0.26rem;
}
.goods-service:after,.pay-type:after,footer:after,.recommend-box:after,.attr-item:after{
    display: table;
    content: '';
    clear: both;
}
.goods-service li,.pay-type li{
    float: left;
    width: 33.3%;
    text-align: center;
}
.goods-service li:first-child,.pay-type li:first-child{
    text-align: left;
}
.goods-service li:last-child,.pay-type li:last-child{
    text-align: right;
}
.pay-type {
    width: 100%;
    padding:0.3rem;
    background: #F9F9F9;
    border-top:1px solid #DDDEE3;
    border-bottom:1px solid #DDDEE3;
}
.choose-box{
    cursor: pointer;
    margin:0.2rem 0;
    padding:0 0.3rem;
    color: #23252F;
    font-size: 0.3rem;
    line-height: 0.88rem;
    height: 0.88rem;
    position: relative;
    background: #fff;
}
.choose-box span{
    position: absolute;
    display: inline-block;
    width:0.12rem;
    height: 0.2rem;
    background: url("../img/link-arrow@2x.png") no-repeat center;
    background-size: 0.12rem 0.2rem;
    top:50%;
    margin-top:-0.06rem;
    right: 0.3rem;

}

/*comment*/
.comment{
    padding: 0.3rem;
    background: #fff;
}
.comment-title{
    color:#23252F;
    font-size: 0.3rem;
    line-height: 0.3rem;
}
.comment-detail{
    padding: 0.4rem 0;
}
.comment-user{
    vertical-align: middle;
    margin-right: 0.2rem;
    display: inline-block;
    height: 0.64rem;
    width: 0.64rem;
    border-radius: 50%;
    overflow: hidden;
}
.comment-user img{
    display: block;
    width: 100%;
}
.commentator{
    vertical-align: middle;
    font-size: 0.26rem;
    line-height: 0.64rem;
    color: #23252F;
    display: inline-block;
}
.comment-text{
    font-size: 0.26rem;
    color: #23252F;
    line-height: 0.28rem;
    margin-top:0.2rem;
}
.comment-goods{
    font-size: 0.26rem;
    color: #9096A6;
    line-height: 0.28rem;
    margin-top:0.14rem
}
.btn-box{
    text-align: center;
}
.btn{
    cursor: pointer;
    display:inline-block;
    border: 1px solid #FF3B5E  ;
    color:#FF5A5F;
    line-height: 0.24rem;
    font-size: 0.24rem;
    padding:0.1rem 0.2rem;
    margin:0 auto;
    border-radius: 3px;
    text-align: center;
}
.detail-box p{
    background: #fff;
    line-height: 1.1rem;
    height: 1.1rem;
    text-align: center;
}

/*shop*/
.shop{

    margin:0.2rem 0;
    background: #fff;
}
.manager{
    padding: 0.3rem ;
}
.manager-shortcut,.manager-name{
    display: inline-block;
    vertical-align: middle;
}
.manager-shortcut{
    width: 0.88rem;
    height: 0.88rem;
    overflow: hidden;
    border-radius: 50%;
}
.manager-shortcut img{
    display: block;
    width: 100%;
}
.manager-name{
    font-size: 0.34rem;
    line-height: 0.88rem;
    color: #23252F;
    margin-left: 0.3rem;
}
.shop-tab{
    padding:0.3rem 0;
    border:1px solid #DDDEE3;
    text-align: center;
}
.shop-tab .btn:first-child{
    margin-right:0.6rem;
}
.detail-box{
    background: #ffffff;
    padding-bottom: 0.4rem;
}
.detail-box img{
    display: block;
    width: 100%;
}


.recommend-box{
    padding-bottom: 0.88rem;
}
.recommend-title{
    font-size: 0.28rem;
    color: #9096A6;
    line-height: 0.3rem;
    padding: 0.3rem;
    position: relative;
    text-align: center;
}
.recommend-title img{
    display: block;
    position: absolute;
    top:50%;
    width: 2.8rem;
    height: 0.02rem;
}
.recommend-title img:last-child{
    right: 0.3rem;
}
.recommend-list{
    margin-bottom: 0.1rem;
    background: #fff;
    width: 3.7rem;
}
.product-shortcut{
    width: 100%;
    height: 3.7rem;
    overflow: hidden;
}
.product-shortcut img{
    width: 100%;
}
.recommend-text{
    padding:0.2rem 0 0.2rem 0.2rem;
}
.recommend-text p{
    font-size: 0.28rem;
    color: #23252F;
    line-height: 0.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommend-text p:last-child{
    margin-top: 0.14rem;
    color: #FF3B5E;
}
.recommend-list:nth-child(odd){
    float: left;
}
.recommend-list:nth-child(even){
    float: right;
}


/*footer*/
footer{
    background: #ffffff;
    position: fixed;
    bottom: 0;
    width: 7.5rem;


}
.footer-left,.footer-right{
    width: 50%;
    float: left;
}

.footer-left li{
    padding:0.13rem 0;
    float: left;
    width: 33.3%;
    text-align: center;
}
.footer-right li{

    float: left;
    width: 50%;
    text-align: center;
}
footer img{
    margin: 0 auto;
    width:0.34rem;
    display:block;
}
footer a{
    display: block;
}
footer p{
    font-size: 0.2rem;
    color: #8E8E93;
    line-height: 0.22rem;
    margin-top:0.08rem;
}
.add-card,.buy{
    line-height: 0.88rem;
    font-size: 0.3rem;
    color: #FFFFFF;
}
.add-card{
    background: #2B3857;

}
.buy{
    background: #FF3B5E;
}

.mask{
    width: 7.5rem;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.70);
    top:0;
    z-index: 12;
    display: none;
}

.choose-detail{
    overflow: hidden;
    background: #fff;
    position: absolute;
    transition: bottom ease 0.3s;
    bottom: 0;

}
.choose-goods{
    padding:0.3rem;
    margin-bottom: 1.1rem;

}
.goods-dec{
    width: 6.9rem;
    padding-bottom: 0.3rem;
    overflow: hidden;
    border-bottom: 1px solid #DDDEE3;
}
.goods-l,.goods-r{
    float: left;
}
.goods-l{
    margin-right: 0.2rem;
    width:1.3rem;
    height: 1.3rem;
    overflow: hidden;
}
.goods-l img{
    display: block;
    width: 100%;

}
.goods-r{

    width: 5.4rem;
    overflow: hidden;
}
.goods-r p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.28rem;
    color: #23252F;
    line-height: 0.3rem;
}
.goods-r p.goods-price{
    font-size: 0.32rem;
    color: #FF3B5E;
}
.stock{
    padding:0.2rem 0;
}
.attr-list{
    position: relative;
    padding:0.3rem 0;
    border-bottom:1px solid #DDDEE3;
}
.attr-list:last-child{

}
.attr{
    font-size: 0.28rem;
    color: #23252F;
    line-height: 0.3rem;

}
.attr-item li{
    float:left;
    border: 1px solid #DDDEE3;
    font-size: 0.24rem;
    line-height: 0.24rem;
    padding:0.08rem 0.26rem;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    border-radius: 0.04rem;
}
.quantity{
    position: absolute;
    top: 0.24rem;
    right: 0;
}
.quantity a{
    display: block;
    float: left;
    width: 0.44rem;
    height: 0.44rem;
    border: 1px solid #DDDEE3;
}
.add{
    background: url("img/add@2x.png") no-repeat center;
    background-size: 0.2rem 0.2rem;
}
.minus{
    background: url("img/minus@2x.png") no-repeat center;
    background-size: 0.2rem 0.04rem;
}


.num{
    width: 0.6rem;
    height: 0.44rem;
    font-size: 0.24rem;
    float: left;
    border: 1px solid #DDDEE3;
    text-align: center;
}
/*tba底部*/
.tab{
    width: 7.5rem;
    overflow: hidden;

}
.tab li{
    float: left;
    width: 50%;
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 0.32rem;
    padding:0.28rem 0;
    text-align: center;
}
.mask-add-card{
    background: #2B3857;
}
.mask-buy{
    background: #FF3B5E;
}